/*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/*font-family: 'Raleway', sans-serif;*/

/*Roboto-Serifa*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');

/*font-family: 'Roboto Serif', serif;*/

:root{
	--dark-color:#231F20;
	--white-color:#FFFFFF;
	--blue-color:rgb(0,159,227);
	--orange-color:rgb(255,130,13);
	--gray-color:#808191;
  --red-color:#D25A5A;
}


.iconEdit{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.iconEdit1{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  padding: 5px;
}

.Reserva{
  color: var(--blue-dark);
}

.Edit{
  color: #D25A5A;
}

.numEdit{
  font-size: 50px;
}